<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] %c: %m%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- CXF is used heavily by Mule for web services -->
        <Logger name="org.example" level="INFO"/>

        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>